@model BL.Viewmodels.BookVM

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>@Model.Name</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Name</dt>
        <dd class="col-sm-10">@Model.Name</dd>

        <dt class="col-sm-2">Author</dt>
        <dd class="col-sm-10">@Model.Author</dd>

        <dt class="col-sm-2">Genre</dt>
        <dd class="col-sm-10">@Model.Genre</dd>

        <dt class="col-sm-2">Available</dt>
        <dd class="col-sm-10">
            @if (Model.IsAvailable)
            {
                <i class="fas fa-check-circle text-success"></i>
            }
            else
            {
                <i class="fas fa-times-circle text-danger"></i>
            }
        </dd>

        @if (Model.AvailableLocations.Any()) 
        {
        <dt class="col-sm-2">Locations</dt>
        <dd class="col-sm-10">
            <ul>
                @foreach (var location in Model.AvailableLocations)
                {
                    <li>@location.Name</li>
                }
            </ul>
        </dd>
        }
    </dl>
</div>
<a asp-action="Index" class="btn btn-primary">Back to List</a>
